.titulo {
    color: red;
}

.list-item {
    background: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    margin-bottom: 10px;
}

.text-item {
    font-family: sans-serif;
    font-size: 20px;
}